name: Build and Push Docker Image

on:
  push:
    branches: [ "main", "master" ]
    paths-ignore:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest  # <--- This is a REAL Intel AMD64 machine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # This forces a clean, native AMD64 build
          platforms: linux/amd64
          tags: inssia/tee-relevance-estimator:v2
          cache-from: type=gha
          cache-to: type=gha,mode=max
